# Cognixia SQL Project: Online Chocolate Shop MGMT System

### Project Overview:
Design and implement a database system for an online chocolate shop. The system should handle various aspects of managing the shop, including inventory management, customers, orders and user authentication

**Skills Demonstrated:**

#### Beginner:
- Creating tables and defining relationships
- Basic CRUD(Create, Read, Update, Delete) operations
- Simple queries using SELECT, WHERE, and ORDER BY clauses
#### Intermediate:
- Implementing constraints and indexes for data integrity and performance optimization
- Utilizing JOIN operations for querying data from multiple tables
- Aggregating data using GROUP BY and aggregate functions
- Implementing views and stored procedures for modularizing queries and operations
#### Advanced:
- Handling transactions for maintaining data consistency and integrity
- Implementing complex queries involving subqueries, common table expressions, and window functions
- Performance tuning using query optimization techniques like query plans and indexes
- Implementing security measures such as roles and permissions to restrict access to sensitive data

<h1>Table of Contents</h1>

<h2 id="1-database-design">1. Database Design</h2>

- <a href="#1abc-design-database">Database Design:</a></li>
   - Schema (Star Schema 3NF)
   - Table Relationships (PK/FK)
   - Feature Constraints

<h2 id="2-data-population">2. Data Population</h2>
<ul>
   <li><a href="#2a-populate-database">a. Sample data used & queries to Ensure data consistency and referential integrity</a></li>
</ul>

<h2 id="3-basic-operations">3. Basic Operations</h2>
<ul>
   <li><a href="#3a-crud-operations">CRUD operations for managing chocolate, customers/users, and orders</a></li>
</ul>

<h2 id="4-intermediate-queries">4. Intermediate Queries</h2>
<ul>
   <li><a href="#4a-retrieve-information">a. Create queries to retrieve information such as:</a></li>
   <ul>
     <li><a href="#4ai-top-selling">i. Top-selling chocolate</a></li>
     <li><a href="#4aii-highest-orders">ii. Customers with the highest order amounts</a></li>
     <li><a href="#4aiii-total-revenue">iii. Total revenue generated over a specific period</a></li>
     <li><a href="#4aiv-low-inventory">iv. Chocolate with low inventory levels</a></li>
   </ul>
</ul>

<h2 id="5-advanced-features">5. Advanced Features</h2>
<ul>
   <li><a href="#5b-complex-queries">a. Stored Procedures to answer specific business questions (e.g., identifying patterns in customer behavior) w/transactions</a></li>
   <li><a href="#5c-optimize-performance">b. Query performance optimization</a></li>
   <li><a href="#5d-role-based-access">c. Role-based access control to restrict access to sensitive data and operations</a></li>
</ul>

<h2 id="6-conclusions-next">6. Conclusions & Next Steps</h2>
<ul>
   <li><a href="#6a-conclusions">a. Conclusions</a></li>
   <li><a href="#6b-next-steps">b. next-steps</a></li>
</ul>

___



<h2 id="1abc-design-database">Database Schema, Relationships & Constraints</h2>


### Star Schema 3rd Normal Form:

### Chocolates Table

| Column Name      | Data Type                | Constraints                                    |
|------------------|--------------------------|------------------------------------------------|
| chocolate_id     | INT                      | AUTO_INCREMENT, PRIMARY KEY                    |
| chocolate_name   | VARCHAR(128)             | NOT NULL                                       |
| description      | VARCHAR(256)             |                                                |
| price            | DECIMAL(5,2)             | NOT NULL, CHECK (`price` > 0)                  |
| stock_quantity   | INT                      | NOT NULL, CHECK (`stock_quantity` >= 0)        |
| reorder_point    | INT                      | NOT NULL, DEFAULT 0                            |
| reorder_amount   | INT                      | NOT NULL, DEFAULT 0                            |

---

### Addresses Table

| Column Name | Data Type     | Constraints                   |
|-------------|---------------|-------------------------------|
| address_id  | INT           | AUTO_INCREMENT, PRIMARY KEY   |
| state       | VARCHAR(128)  | NOT NULL                      |
| city        | VARCHAR(128)  | NOT NULL                      |
| zipcode     | VARCHAR(10)   | NOT NULL                      |
| street      | VARCHAR(256)  | NOT NULL                      |

---

### Customers Table

| Column Name   | Data Type     | Constraints                                    |
|---------------|---------------|------------------------------------------------|
| customer_id   | INT           | AUTO_INCREMENT, PRIMARY KEY                    |
| fullname      | VARCHAR(128)  | NOT NULL                                       |
| email         | VARCHAR(128)  | NOT NULL, UNIQUE                               |
| password_hash | VARCHAR(128)  | NOT NULL                                       |
| phone         | VARCHAR(128)  | NOT NULL, UNIQUE                               |
| address_id    | INT           | NOT NULL, FOREIGN KEY REFERENCES `addresses`   |

---

### Orders Table

| Column Name | Data Type     | Constraints                                               |
|-------------|---------------|-----------------------------------------------------------|
| order_id    | INT           | AUTO_INCREMENT, PRIMARY KEY                               |
| customer_id | INT           | NOT NULL, FOREIGN KEY REFERENCES `customers`              |
| order_date  | DATE          | NOT NULL, DEFAULT (CURRENT_DATE)                          |
| order_time  | TIME          | NOT NULL, DEFAULT (CURRENT_TIME)                          |
| order_total | DECIMAL(10,2) | NOT NULL, CHECK (`order_total` > 0)                       |
| total_items | INT           | NOT NULL, CHECK (`total_items` >= 0)                      |

---

### Order Items Table

| Column Name   | Data Type | Constraints                                             |
|---------------|-----------|---------------------------------------------------------|
| order_item_id | INT       | AUTO_INCREMENT, PRIMARY KEY                             |
| order_id      | INT       | NOT NULL, FOREIGN KEY REFERENCES `orders`               |
| chocolate_id  | INT       | NOT NULL, FOREIGN KEY REFERENCES `chocolates`           |
| quantity      | INT       | NOT NULL, CHECK (`quantity` > 0)                        |

---

___

# 2. Data Population

<h2 id="2a-populate-database">Sample data creation while ensuring data integrity</h2>

### Query to create database and tables from Schema:

In [ ]:

CREATE DATABASE IF NOT EXISTS choclit;
USE choclit;


CREATE TABLE IF NOT EXISTS chocolates (
    chocolate_id INT AUTO_INCREMENT PRIMARY KEY,
    chocolate_name VARCHAR(128) NOT NULL,
    description VARCHAR(256),
    price DECIMAL(5,2) NOT NULL CHECK (price > 0),
    stock_quantity INT NOT NULL CHECK (stock_quantity >= 0),
    reorder_point INT NOT NULL DEFAULT 0,
    reorder_amount INT NOT NULL DEFAULT 0
);


CREATE TABLE IF NOT EXISTS addresses (
    address_id INT AUTO_INCREMENT PRIMARY KEY,
    state VARCHAR(128) NOT NULL,
    city VARCHAR(128) NOT NULL,
    zipcode VARCHAR(10) NOT NULL,
    street VARCHAR(256) NOT NULL
);


CREATE TABLE IF NOT EXISTS customers (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    fullname VARCHAR(128) NOT NULL,
    email VARCHAR(128) NOT NULL UNIQUE,
    password_hash VARCHAR(128) NOT NULL,
    phone VARCHAR(128) NOT NULL UNIQUE,
    address_id INT NOT NULL,
    FOREIGN KEY (address_id) REFERENCES addresses(address_id)
);


CREATE TABLE IF NOT EXISTS orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT NOT NULL,
    order_date DATE NOT NULL DEFAULT (CURRENT_DATE),
    order_time TIME NOT NULL DEFAULT (CURRENT_TIME),
    order_total DECIMAL(10,2) NOT NULL CHECK (order_total > 0) DEFAULT (0),
    total_items INT NOT NULL CHECK (total_items >= 0) DEFAULT (0),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

CREATE TABLE IF NOT EXISTS order_items (
    order_item_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT NOT NULL,
    chocolate_id INT NOT NULL,
    quantity INT NOT NULL CHECK (quantity > 0),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (chocolate_id) REFERENCES chocolates(chocolate_id)
);

### Query to Insert data into dimension tables:

In [ ]:

INSERT INTO chocolates (chocolate_name, description, price, stock_quantity, reorder_point, reorder_amount) VALUES
('Dark Chocolate Bar', 'Rich and smooth dark chocolate', 2.99, 100, 10, 50),
('Milk Chocolate Bar', 'Creamy and sweet milk chocolate', 2.50, 150, 20, 60),
('White Chocolate Bar', 'Sweet white chocolate', 2.75, 80, 15, 30),
('Mint Chocolate Bar', 'Dark chocolate with a refreshing mint flavor', 3.20, 75, 10, 40),
('Orange Chocolate Bar', 'Milk chocolate infused with orange essence', 3.50, 50, 5, 25),
('Chili Chocolate Bar', 'Dark chocolate with a spicy kick of chili', 3.99, 100, 10, 30);

#### Note: The rest of the data will be created via the stored procedures created later in this walkthrough

___

# 3. Basic Operations

<h2 id="3a-crud-operations">CRUD operations for managing chocolate, and orders:</h2>

#### Stored Procedure to Create New Orders and Add items to orders:

**Stored procedure to Create an order by assigning an order_id to the customer who created it**

In [ ]:
DELIMITER //

CREATE PROCEDURE CreateOrder(
    IN _customer_id INT,
    OUT _order_id INT
)
BEGIN
    START TRANSACTION;
    INSERT INTO orders (customer_id)
    VALUES (_customer_id);
    
    SET _order_id = LAST_INSERT_ID();
    COMMIT;
END;
//

**Stored procedure to:**
1. Add order items with their quantity and current price to the order_items table for specific orders
2. Update stock_quantity in chocolates inventory table
3. Update orders table with order_total and the order item_total

In [ ]:
DELIMITER //

CREATE PROCEDURE AddOrderItem(
    IN _order_id INT,
    IN _chocolate_id INT, 
    IN _quantity INT
)
BEGIN
    DECLARE _stock_quantity INT DEFAULT 0;
    DECLARE _price DECIMAL(5, 2);
    DECLARE _order_total DECIMAL(5, 2) DEFAULT 0;
    DECLARE _total_items INT DEFAULT 0;
    
    -- Select the current stock quantity and price from the chocolates table
    SELECT stock_quantity, price INTO _stock_quantity, _price
    FROM chocolates 
    WHERE chocolate_id = _chocolate_id;
    
    -- Check if there is enough stock to fulfill the order
    IF _stock_quantity >= _quantity THEN
        -- Insert the order item
        INSERT INTO order_items (order_id, chocolate_id, quantity)
        VALUES (_order_id, _chocolate_id, _quantity);
        
        -- Update the chocolates' stock quantity
        UPDATE chocolates 
        SET stock_quantity = stock_quantity - _quantity 
        WHERE chocolate_id = _chocolate_id;
        
        -- Calculate the total order price and quantity for the order
        SELECT SUM(quantity * (SELECT price FROM chocolates WHERE chocolate_id = order_items.chocolate_id)) INTO _order_total
        FROM order_items
        WHERE order_id = _order_id;
        
        SELECT SUM(quantity) INTO _total_items
        FROM order_items
        WHERE order_id = _order_id;
        
        -- Update the order's total price and total items
        UPDATE orders
        SET order_total = _order_total, total_items = _total_items
        WHERE order_id = _order_id;
    ELSE
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Insufficient chocolate stock';
    END IF;
END;
//
DELIMITER ;

#### Example order creation:

```SQL
CALL CreateOrder(1, @new_order_id);
```
- Newly created order_id in for customer_id 1 with the _new_order_id variable

```SQL
CALL AddOrderItem(@new_order_id, 5, 10);
```
- Adds 10 units of chocolate_id = 5 to the order

___

# 4. Intermediate Queries

<h2 id="4a-retrieve-information">Create queries to retrieve information such as:</h3>

<h3 id="4ai-top-selling">Top-selling chocolate:</h3>

In [ ]:
SELECT chocolate_id, SUM(quantity) AS total_sold
FROM orders
GROUP BY chocolate_id
ORDER BY total_sold DESC
LIMIT 1;

<h3 id="4aii-highest-orders">Customers with the highest order amounts</h3>

In [ ]:
SELECT customer_id, SUM(order_price * quantity) AS total_amount
FROM orders
GROUP BY customer_id
ORDER BY total_amount DESC
LIMIT 1;

<h3 id="4aiii-total-revenue">Total revenue generated over a specific period</h3>

In [ ]:
SELECT SUM(order_total * total_items) AS total_revenue
FROM orders
WHERE order_date BETWEEN '2023-01-01' AND '2023-01-31';

<h3 id="4aiv-low-inventory">Chocolate with low inventory levels</h3>

In [ ]:
SELECT chocolate_id 
FROM chocolates 
WHERE stock_quantity <= reorder_point;

### Detailing customers along with their top purchased chocolate 
*utilizing joins*

In [ ]:
SELECT 
    cust.fullname, 
    cust.email, 
    choco.chocolate_name,
    choco.description
FROM 
    customers AS cust
JOIN 
    orders AS ord ON cust.customer_id = ord.customer_id
JOIN 
    chocolates AS choco ON ord.chocolate_id = choco.chocolate_id
WHERE 
    choco.chocolate_id = (SELECT chocolate_id FROM top_selling_chocolate);

___

## 5. Advanced Features


<h2 id="5b-complex-queries">a. Stored Procedures to answer specific business questions (e.g., identifying patterns in customer behavior) w/transactions</h2>

#### Stored Procedure To Analyze Inventory Levels:

In [ ]:
DELIMITER //

CREATE PROCEDURE AnalyzeChocolateSales(IN _chocolate_id INT)
BEGIN
    DECLARE total_recent_sales INT DEFAULT 0;
    DECLARE avg_historical_sales DECIMAL(10,2) DEFAULT 0.0;
    DECLARE start_date DATE;
    DECLARE end_date DATE;

    SET end_date = CURDATE();
    SET start_date = DATE_SUB(end_date, INTERVAL 3 MONTH);

    START TRANSACTION;
    
    SELECT SUM(quantity) INTO total_recent_sales
    FROM orders
    WHERE chocolate_id = _chocolate_id
        AND order_date BETWEEN start_date AND end_date
    LOCK IN SHARE MODE;
    
    SELECT AVG(yearly_sales.quantity) INTO avg_historical_sales
    FROM (
        SELECT SUM(quantity) AS quantity
        FROM orders
        WHERE chocolate_id = _chocolate_id
            AND MONTH(order_date) BETWEEN MONTH(start_date) AND MONTH(end_date)
            AND YEAR(order_date) < YEAR(CURDATE())
        GROUP BY YEAR(order_date)
    ) AS yearly_sales;
    
    SELECT total_recent_sales, avg_historical_sales;
    
    COMMIT;
END;

//
DELIMITER ;

To call this stored procedure, you would use the chocolate item's ID that you want to evaluate:

```SQL
CALL AnalyzeChocolateSales(1);
```

#### Stored Procedure to Analyze If Price Change of an Item is Necessary

*(For clearer insights into price adjustment we would want to consider current cost of goods as well as things like competitor pricing but since the data is synthetic and limited this procedure is used as a holding place/starting point)*

In [ ]:
DELIMITER //

CREATE PROCEDURE AnalyzePriceAdjustment(IN _chocolate_id INT)
BEGIN
    DECLARE _current_sales_velocity INT;
    DECLARE _historical_sales_velocity INT;
    DECLARE _average_stock INT;
    DECLARE _reorder_point INT;
    DECLARE _price DECIMAL(10, 2);
    DECLARE _suggested_change DECIMAL(10, 2);


    SELECT price INTO _price FROM chocolates WHERE chocolate_id = _chocolate_id;


    SELECT CEIL(AVG(quantity)) INTO _current_sales_velocity
    FROM orders
    WHERE chocolate_id = _chocolate_id
      AND order_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 MONTH) AND CURDATE();


    SELECT CEIL(AVG(quantity)) INTO _historical_sales_velocity
    FROM orders
    WHERE chocolate_id = _chocolate_id
      AND order_date < DATE_SUB(CURDATE(), INTERVAL 3 MONTH);


    SELECT AVG(stock_quantity) INTO _average_stock FROM chocolates WHERE chocolate_id = _chocolate_id;
    SELECT reorder_point INTO _reorder_point FROM chocolates WHERE chocolate_id = _chocolate_id;


    IF _current_sales_velocity > _average_stock AND _current_sales_velocity > _reorder_point THEN

        SET _suggested_change = _price * 0.10;
        SELECT _price AS CurrentPrice, _suggested_change AS SuggestedChange, 'Increase' AS ChangeType;
    ELSEIF _current_sales_velocity < _historical_sales_velocity THEN

        SET _suggested_change = -(_price * 0.10);
        SELECT _price AS CurrentPrice, _suggested_change AS SuggestedChange, 'Decrease' AS ChangeType;
    ELSE

        SET _suggested_change = 0;
        SELECT _price AS CurrentPrice, _suggested_change AS SuggestedChange, 'No Change' AS ChangeType;
    END IF;
END;

//
DELIMITER //

Actions performed in this procedure:
1. Calculate the current sales velocity for the last 3 months.
2. Calculate the historical sales velocity from before the last 3 months.
3. Suggest a price increase if the current sales velocity is higher than both the average stock and reorder point.
4. Suggest a price decrease if the current sales velocity is less than the historical sales velocity.
5. If there's no significant change, suggest no price adjustment.

Execute the procedure by passing the chocolate item's ID:

```SQL
CALL AnalyzePriceAdjustment(1);
```

<h2 id="5c-optimize-performance">b. Query performance optimization</h2>

In [ ]:
EXPLAIN SELECT 
    cust.fullname, 
    cust.email, 
    choco.chocolate_name,
    choco.description
FROM 
    customers AS cust
JOIN 
    orders AS ord ON cust.customer_id = ord.customer_id
JOIN 
    chocolates AS choco ON ord.chocolate_id = choco.chocolate_id
WHERE 
    choco.chocolate_id = (SELECT chocolate_id FROM top_selling_chocolate);

<h2 id="5d-role-based-access">c. Role-based access control to restrict access to sensitive data and operations</h2>

In [ ]:
CREATE ROLE customer_user;
GRANT INSERT, SELECT ON customers TO customer_user;
GRANT INSERT ON addresses TO customer_user;
GRANT SELECT (chocolate_id, chocolate_name, description, price, stock_quantity) ON chocolates TO 'customer_user';
GRANT INSERT, UPDATE ON orders TO customer_user;
GRANT INSERT ON order_items TO customer_user;
GRANT EXECUTE ON PROCEDURE CreateNewCustomer TO customer_user;
GRANT EXECUTE ON PROCEDURE CreateOrder TO customer_user;
GRANT EXECUTE ON PROCEDURE AddOrderItem TO customer_user;

In [ ]:
DELIMITER //

CREATE PROCEDURE CreateNewCustomer (
    IN _fullname VARCHAR(128),
    IN _email VARCHAR(128),
    IN _password VARCHAR(128),
    IN _phone VARCHAR(128),
    IN _state VARCHAR(128),
    IN _city VARCHAR(128),
    IN _zipcode VARCHAR(10),
    IN _street VARCHAR(256)
)
BEGIN
    DECLARE _password_hash VARCHAR(128);
    DECLARE _username VARCHAR(128);
    DECLARE _user_id INT;
    
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;

    SET _password_hash = SHA2(_password, 256);
    SET _username = REPLACE(_email, '@', '_at_'); 

    START TRANSACTION;
    
    INSERT INTO addresses (state, city, zipcode, street)
    VALUES (_state, _city, _zipcode, _street);
    
    SET @address_id := LAST_INSERT_ID();

    INSERT INTO customers (fullname, email, password_hash, phone, address_id)
    VALUES (_fullname, _email, _password_hash, _phone, @address_id);

    SET _user_id := LAST_INSERT_ID();

    
    SET @sql = CONCAT('CREATE USER ', QUOTE(_username), ' IDENTIFIED BY ', QUOTE(_password_hash), ';');
    PREPARE stmt FROM @sql;
    EXECUTE stmt;
    DEALLOCATE PREPARE stmt;

    
    SET @sql = CONCAT('GRANT customer_user TO ', QUOTE(_username), ';');
    PREPARE stmt FROM @sql;
    EXECUTE stmt;
    DEALLOCATE PREPARE stmt;
    
    COMMIT;
END;

//
DELIMITER ;

To run this stored procedure with all the necessary parameters:

```sql
CALL CreateNewCustomer(
    'Jane Smith',
    'jane.smith@example.com',
    'plainpassword123',
    '555-4321',
    'New York',
    'New York City',
    '10001',
    '42 Maple Street'
);
```

# 6. Conclusions & Next-Steps

<h2 id="6a-conclusions">a. Conclusions</h2>

<h2 id="6b-next-steps">b. Next Steps</h2>

1. Create a **staff** table to manage staff
    - assign staff roles based on their position
        - ex: Manager would recieve admin role. Cashiers would recieve employee role (access to employee info and chocolate inventory/price info)
2. Create New tables to manage stock ordering and vendor purchase
    - **Stock** table for current Stock, reorder point, reorder amount, cost, and current vendor
    - **Purchase Orders** table for purchases made to refill stock including, item id, admin_id, customer